@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono');

html, body {
min-height: 100%;
}
body {
  background-color: black;
  position: relative;
}

canvas {
  border: 1px solid black;
  background-image: url('https://i.imgur.com/SQ4HD3W.png');
  margin-left: 50px;
}

p {
  color: white;
}

button, .submit-button {
  margin-top: 5px;
  border-radius: 8px;
}

.account-button {
  width: 200px;
}

.login-form, .sign-up-form {
  text-align: center;
}

.chat {
  align-items: center;
  display: flex;
  flex-direction: row;
}


.modal {
  background-color: black;
}

#tictac {
  background-color: rgba(0,0,0,0);
  border: solid 1px black;
}

#tictac:hover {
  background-color: darkblue;
}

.signInError, .signUpError {
  color: red;
  height: 15px;
  padding-top: 2px;
}

.tictactoe {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in, .sign-up, .accounts-page, .passwordForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 55vh;
  justify-content: flex-end;
}
