@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono|Wendy+One');

html, body {
  min-height: 100%;
  background-image: url('http://hdqwalls.com/wallpapers/8-bit-pixel-art-city-2o.jpg');
}
body {
  position: relative;
}

h1 {
  font-family: 'Wendy One', sans-serif;
  color: rgba(0,0,0,0.8);
  text-shadow: 2px 2px purple;
}

.title {
  margin-bottom: 25px;
}

.star {
  position: absolute;
  width: 5px;
  height: 5px;
  background: rgba(255,255,255,0.0);
  border-radius: 5px;
}

@keyframes twinkle {
  0% {
    transform: scale(1, 1);
    background: rgba(255,255,255,0.0);
    animation-timing-function: ease-in;
  }
  60% {
    transform: scale(0.8, 0.8);
    background: rgba(255,255,255,1);
    animation-timing-function: ease-out;
  }
  80% {
    background: rgba(255,255,255,0.00);
    transform: scale(1, 1);
  }
  100% {
    background: rgba(255,255,255,0.0);
    transform: scale(1, 1);
  }
}

span {
  height: 0;
}

::placeholder {
  color: white;
}

#passtoAccount {
  text-align: center;
  display: block;
  margin: auto;
}

input {
  background-color: rgba(154, 99, 180, .3);
  border: solid 1px rgb(154,99,180);
  margin-bottom: 5px;
  border-radius: 5px;
  color: white;
}
button, .submit-button {
  background-color: rgba(154, 99, 180, .5);
  border: solid 1px rgb(154,99,180);
  margin-bottom: 5px;
  color: white;
}

button:hover, .submit-button:hover {
  transition: background-color 1s;
  background-color: rgba(154, 99, 180, .8)
}

.canvasH1 {
  text-align: center;
  display: block;
  margin-top: -15px;
  margin: 0, auto, 0, auto;
  z-index: 10;
}

canvas {
  background-image: url('https://i.imgur.com/SQ4HD3W.png');
  border: 1px solid black;
  display: block;
  margin: auto;
  margin-top: 0;
}

p {
  color: white;
}

button, .submit-button {
  margin-top: 5px;
  border-radius: 8px;
}

.account-button {
  width: 200px;
}

.login-form, .sign-up-form {
  text-align: center;
}

.chat {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}



.modal {
  background-image: url('http://hdqwalls.com/wallpapers/8-bit-pixel-art-city-2o.jpg');
}

#tictac {
  background-color: rgba(0,0,0,0);
  border: solid 1px black;
}

#tictac:hover {
  background-color: darkblue;
}


.signInError, .signUpError, #password-error {
  color: red;
  height: 15px;
  padding-top: 2px;
}

.tictactoe {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in, .sign-up, .passwordForm {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 65vh;
  justify-content: flex-end;
}

.accounts-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  justify-content: flex-end;
}
